.accordion {
  padding-left: 33px;
  padding-right: 14px;
  border-bottom: 1px solid var(--gray-divider);
  .accordion-main {
    cursor: pointer;
    min-height: 47px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .accordion-submenu {
    margin-top: 2.71px;
  }
}
