.accordion {
  height: 47px;
  padding-left: 33px;
  padding-right: 14px;
  border-bottom: 1px solid var(--gray-divider);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
