.navbar {
  position: sticky;
  top: 0px;
  z-index:1;
  height: var(--navbar-height);
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-divider);
  display: flex;
  justify-content: center;
  .navigation {
    height: 20.5px;
    width: 349px;
    // margin-left: 13px;
    padding-top: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left-navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 13px;
    }
    .icon-menu {
      cursor: pointer;
    }
  }
}
