.slider {
  /* VARIABLES DEFINITION */
  --slide-number: 6;
  --slide-gap: 12px;
  --slide-width: 118px;
  --slider-inner-padding: 13px;

  height: var(--slider-height);
  border-bottom: 1px solid var(--gray-divider);
  /* SLIDER SECTION */
  position: absolute;
  top: var(--navbar-height);
  width: var(--width-default);
  overflow: hidden;
  .slider-inner {
    position: relative;
    margin-top: 30px;
    padding-left: var(--slider-inner-padding);
    width: calc((var(--slide-number) * var(--slide-width)) + ((var(--slide-number) - 1) * var(--slide-gap)) + (var(--slider-inner-padding)));
    display: flex;
    flex-direction: row;
    column-gap: var(--slide-gap);
    pointer-events: none;
    transition: 0s ease-in;
  }
}
