* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --dark-gray: #151515;
  --gray-divider: #ECECEC;
  --white: #FFFFFF;
}

.app {
  margin: 0 auto;
  width: 375px;
}

.bold {
  font-weight: 700;
}

h2 {
  color: var(--dark-gray);
  font-family: 'Maison Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */
  letter-spacing: 0.5px;
}

h3 {
  color: ar(--black);
  font-family: 'Maison Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  /* or 12px */
  letter-spacing: 0.5px;
}
